<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
    <script>
        // Get all flash message elements with the "flash-message" class
        const flashMessages = document.getElementsByClassName("flash-message");
        
        // Loop through all flash message elements and remove them after the specified timeout
        for (let i = 0; i < flashMessages.length; i++) {
          const flashMessage = flashMessages[i];
          const timeout = flashMessage.getAttribute("data-timeout");
          if (timeout) {
            setTimeout(() => {
              flashMessage.remove();
            }, timeout);
          }
        }
    </script>
</body>
</html>