{% extends 'schema/outline.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/form.css') }}"
/>
{% endblock %} {% block title %} Home {% endblock %} {% block body %} {% include
'schema/alerts.html'%}

<div class="container on">
  <div class="screen">
    <h3 class="title">CONNECTION ESTABLISHED - CHANGE EMAIL</h3>
    <div class="box--outer">
      <div class="box">
        <div class="box--inner">
          <div class="content">
            <div class="holder">
              <b>Change Email</b>
              <br />
              <br />
              <form
                method="post"
                action="{{ url_for('change_email', username = session['username']) }}"
              >
                <div class="row">
                  <div class="col col__left label">Email</div>
                  <div class="col col__center">
                    <input
                      id="email"
                      placeholder="New Email"
                      type="email"
                      name="new_email"
                      autofocus
                      autocomplete="off"
                      autocorrect="off"
                      spellcheck="false"
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <button type="submit" id="submit" name="submit">
                    [change email]
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
